body{
  font-family: 'Akshar', sans-serif;
  margin: 0;
  
}

h1{
  font-size: 60px;
}

h2{
  font-size: 45px;
}

.ww{
  color: brown;
}

.part-1{
  display: flex;
  background-image: url(/img/top-banner.png);
  background-repeat: no-repeat;
  margin-bottom: 150px;
  
}

.half_width{
  width: 50%;
  padding-left: 20px;
}

.half_width img{
  width: 70%;
}

button{
  padding: 5px 15px;
  background-color: orange;
  border-radius: 8px;
  font-size: 17px;
  color: antiquewhite;
  font-weight: 500;
}

.part-2{
  display: flex;
  margin-bottom: 100px;
  background-color: thistle;
}
a{
  text-decoration: none;
}
.part-3{
  background-color: rgb(235, 235, 235);
  padding-left: 20px;
}

.part-3 h1{
  text-align: center;
  padding-top: 20px;
}
.part-3_flex{
  display: flex;

}
.col{
  color: #192a56;
}

.exp_items{
  width: 40%;
  margin: 30px;
  padding: 20px;
  box-shadow: 15px 15px 30px rgb(107, 84, 84);
  border-radius: 10px;
  
}

#full_dev{
  border-left: 7px solid;
  border-image: linear-gradient(blue, cyan);
  border-image-slice: 1;
}

#baby_dev{
  border-left: 7px solid;
  border-image: linear-gradient(rgb(212, 0, 255), rgb(0, 255, 136));
  border-image-slice: 1;
}

.aaa{
  height: 300px;
  width: 100px;
  border: 100px solid;
  border-image: repeating-linear-gradient(red,red 10px , blue 10px, blue 20px);
  border-image-slice: 1;

}